body {
	background-color: #a8d8f0;
}

*{
	box-sizing: border-box;
}

.hidden{
	display: none;
}

.green{
	color: #c0c030;
	background: linear-gradient(rgba(100,100,100,0.5), rgba(255,255,255,0.5)), url("balloon-1603383_1920.jpg") no-repeat center;
	background-size: cover;
	width: 100%;
	height: 700px;
}

.red{
	color: #781830;
	background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("pagoda-1030845_1280.jpg") no-repeat center;
	background-size: cover;
	width: 100%;
	height: 700px;
}

ul{
	margin-bottom: 20px;
}

.answer-list > li {
	margin-bottom: 20px;
	border: 1px solid black;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.answer{
	list-style: none;
}

.highlight{
	background-color: #d8c0d8;
}

.question{
	background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("pexels-photo-92997.jpeg") no-repeat center;
	background-size: cover;
	border: 1px solid darkgray;
	text-align: center;
	font-size: 35px;
	padding: 20px;

}

.question-button-form{
	width: 100%;
	text-align: center;
}

.check-answer, .start-button, .next-button, .try-again{
	padding: 20px;
	font-size: 20px;
	background-color: #a8d8f0;
}

.quiz-info p{
	display: inline;
	vertical-align: top;
	font-size: 16px;
	line-height: 28px;
}

.quiz-header h1{
	background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("pexels-photo-92997.jpeg") no-repeat center;
	background-size: cover;
	height: 50px;
	width: 100%;
	text-align: left;
	margin-top: 0;
	padding-top: 5px;
	padding-left: 20px;
	color: black;

}

.start, .correct-incorrect{
	font-size: 50px;
	text-align: center;
	background-repeat: no-repeat;
}

.answers-form, .start-quiz, .final-page{
	width: 100%;
	text-align: center;
}

.final-number{
	font-size: 50px;
	margin-right: auto;
	margin-left: auto;
}